Intermediate
/Origami/Origami.opensdf
/Origami/Origami.sdf
/Origami/Binaries/Win64/UE4Editor-Origami.dll
/Origami/Binaries/Win64/UE4Editor-Origami.pdb
/Origami/Saved/Logs/Origami.log
/Origami/Saved/AutoScreenshot.png
/Origami/Saved/Autosaves/PackageRestoreData.json
/Origami/Origami.v12.suo
