Intermediate
/Origami/Origami.opensdf
/Origami/Origami.sdf
/Origami/Saved/Logs/Origami.log
/Origami/Saved/AutoScreenshot.png
/Origami/Saved/Autosaves/PackageRestoreData.json
/Origami/Origami.v12.suo
/Origami/Binaries
/Origami/Saved
/Origami/Origami.sln
